.main-container {
    margin:30px auto;
    width: 100%;
}


table {
    background-color: rgb(114, 110, 110);
    text-align: left;
    width: 100%;
    animation-name: slide;
    animation-duration: 1s;
    animation-fill-mode:forwards;
    border-collapse: collapse;
    transform: translateY(-20px);
    z-index:1 ;
    border:solid 2px rgb(78, 78, 78);
    
}

tr {
    border-radius: 10px;
    border-bottom: 2px white solid;
}

td,th {
    padding: 10px;
}

thead {
    background-color: #246355;
    border-bottom: solid 5px #0f362d;
    color:white;
}

tr:nth-child(even) {
    background-color: rgb(187, 182, 182);
}

tr:hover {
    background-color: #369681;
    color:white;
    cursor: pointer;
}

span {
    display: none;
}

@keyframes slide {
    from {
     opacity: 0;
    }
    to {
     opacity: 1;
     transform: translateY(0);
    }
}

@media (max-width:600px) { 
   thead {
       display: none;
   }

   .main-container {
       width: 100%;
   }

   table tbody tr{
       display: flex;
       flex-direction: column;
   }

   table {
       width: 100%;
   }

  td {
       display: flex;
   }

span {
       display: flex;
   }
}

