#checkbox-menu {
    position: absolute;
    opacity: 0;
}

#checkbox-menu:checked + label span:nth-child(1) {
  transform: rotate(-45deg);
  top:8px;
}

#checkbox-menu:checked + label span:nth-child(2) {
    opacity: 0;
}

#checkbox-menu:checked + label span:nth-child(3) {
    transform: rotate(45deg);
    top:8px;
}


.container-menu-hamburguer {
    padding: 10px;
    display: none;
}


.header {
    align-items: center;
    background-color: #101010;
    display:flex ;
    height: 70px;
    flex-wrap: wrap;
    margin-top: 0;
    width: 100%;
    justify-content: flex-start;
    border-bottom: solid white 2px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.label-header {
    cursor: pointer;
    position: relative;
    display: block;
    height: 22px;
    width: 30px;
}

.label-header span {
    border-radius: 30px;
    display: block;
    height: 5px;
    position:absolute;
    width: 100%;
    background-color: white;
    transition: 0.40s ease-in-out;
}

.label-header span:nth-child(1) {
    top:0;
}

.label-header span:nth-child(2) {
    top:8px;
}

.label-header span:nth-child(3) {
    top:16px;
}

.logo {
    border-radius:3px ;
    height: 50px;
    width: 50px;
}


.menu {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
}

.menu-mobile {
    display: none;
}


.item-menu .link {
    display: block;
    background-color: rgb(36, 36, 36);
    border-bottom: 2px solid white;
    border-radius: 10px;
    color:rgb(255, 255, 255);
    margin: 10px;
    text-decoration: none;
    padding: 10px 20px 10px 20px;
}


.item-menu .link:hover {
    background-color: #333;
}

.search-container {
display: flex;
justify-content: space-between;
align-items: center;
width: auto;
margin-left: 5px;
background-color: #353b48;
padding: 3px 3px;
border-radius: 100px;

 
}

.search-button {
    color: steelblue;
    float:right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #353b48;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-input {
    border:none;
    outline: none;
    background: none;
    padding: 0x;
    color:white;
    font-size: 16px;
    transition: 0.4s;
    width: 0px;
    transition: all 0.4 linear;
}

.label-search {
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
}

.search-container:hover > .search-input {
    padding: 5px;
    width: 200px;
}

.search-container:hover > .label-search {
   background-color: rgb(36, 36, 36);
}


.icon-search {
    width: 35px;
    height: 35px;
    float:right;
}

@media (max-width:600px) {
    .container-menu-hamburguer {
        display: block;
    }

    .logo,.menu {
        display: none;
    }
   

    .item-menu .link {
        border-bottom: 2px solid white;
        display: block;
        background-color: rgb(54, 52, 52);
        border-radius: 5px;
        color:rgb(255, 255, 255);
        margin:2px;
        text-decoration: none;
        padding: 10px 20px 10px 20px;
    } 

    
    .menu-mobile {
        position:absolute;
        flex-direction: column;
        top:70px;
        left: 0;
        animation-name: slide ;
        animation-duration: 1s;
        animation-fill-mode:forwards;
        transform: translateY(-20px);
        background-color: black;
        color:white;
        z-index: 1000;
        height: calc(100vh - 70px);
    }

    .header {
        width: 100%;
        justify-content: space-between;
    }

    .search-container {
        margin: 2px;
       
    }

    @keyframes slide {
        from {
         opacity: 0;
        }
        to {
         opacity: 1;
         transform: translateY(0);
        }
    }

    @keyframes slide-back {
        to {
            opacity: 0;
        }
        from {
            opacity: 1;
            transform: translateY(0);
        }
    }
}
